@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Uncial Antiqua';
  font-weight: 500;
  font-size: 16px;
  
}




