@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Uncial Antiqua';
  font-weight: 500;
  font-size: 16px;
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(166,165,164,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(181, 180, 178, 0.1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(181, 180, 178, 0.3);
}



